@page "/addressoverview"
@using ECommerceApp.App.Contracts
@using ECommerceApp.App.ViewModels
@inject ITokenService TokenService
<h3>AddressOverview</h3>
<br />

@if (Addresses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Address name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in Addresses)
            {
                <tr>
                    <td>@address.StreetName </td>
                </tr>
                <tr>
                    <td>@address.City </td
                </tr>
                <tr>
                    <td>@address.Country </td>
                </tr>
                <tr>
                    <td>@address.PostalCode </td>
                </tr>

                <tr>
                    <td><a href="/updateaddress/@address.Id">Update</a></td>
                </tr>
                
                <tr>
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public IAddressDataService AddressDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<AddressViewModel> Addresses { get; set; }
}

@functions {
    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetTokenAsync();
        if (token == null)
        {
            NavigationManager.NavigateTo("/login");
        }

        Addresses = (await AddressDataService.GetAddressesAsync()).ToList();
    }
}